
body {
  color: #2f575d;
  background-color: #6D9197;
}

div .jumbotron {
	background-image: url("../images/binding_light.png");
}

.navbar,
.nav {
	background-color: #28363D;
}

.btn {
	background-color: #658B6F;
	color: #fff;
}

